@import url(./vendor/font/Quicksand.css);
@import url(./vendor/normalize.css);

.app {
  background: #ffe4d4;
  color: #28272a;
  font-family: 'Quicksand', sans-serif;;
  min-height: 100vh;
}

.main {
  max-width: 880px;
  width: 80%;
  color: #383838;
  border-radius: 102px;
  background: #fbf7fa;
  margin: 0 auto;
  min-height: 60vh;
}

.form {
  min-height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  padding: 20px 0 32px;
}

.timer__title {
  font-size: 1.5rem;
  padding: 20px 0 32px;
}

.timer__container {
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 50px;
  font-size: 1.2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #cc6a77;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #cc6a77;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1rem;
  color: #383838;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1.5s ease-out;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #cc6a77;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #5B8869;
}

.button_disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check:hover::after {
  cursor: pointer;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.label {
  display: flex;
  justify-content: center;
}
  
.task__input {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 9px;
    font-weight: 400;
    font-style: normal;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.input-error {
  box-sizing: border-box;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 400;
  font-style: normal;
  color: #FF0000;

  /**border: none;
  border-top: 1px solid rgba(255, 0, 0, 0.1);
  outline: none;**/
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #383838;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #e4f1e8;;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  opacity: 0.8;
}
